:root {
    --font-family: 'Source Sans 3';
    --content-width: 1180px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) *2));
    --gap: 20px;
    --section-ofset: 80px;
    --lg: 32px;
    --accent: #607ce6;
    --dark: #333;
    --light: #fff;
    --third: #d9d9d9;
    --gray: #888;
    --light-gray: #f5f5f5
}

html {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: inherit;
    position: relative;
    
}

*,
::after,
::before {
    box-sizing: border-box;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: var(--container-width);
    padding: 0 var(--container-offset);
}

a {
    text-decoration: none;
    color: inherit;
    fgfgfgfgffgfgf
}

button {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.page_body {

}

.section-ofset {
    padding-top: var(--section-ofset);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.flex-columns {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap);
}

.section_offset {
    padding-top: 80px;
}

h1,
h2,
h3 {
    margin: 0 auto;
}

section {
    padding-top: 80px;
}

.list_reset {
    list-style: none;
    padding: 0;
    margin: 0;
    word-break: normal;
}