/* FOOTER */
/* ----------------------------------- */
.footer {
    background-color: var(--dark);
    height: auto;
    width: 100%;
    margin-top: var(--section-offset);
}

/* NAV */

.footer_content {
    padding-top: 56px;
    gap: 20px;
    margin-bottom: 73px;
}

.footer_logo {
    grid-column: 1/4 span;
}

.footer_col-1 {
    grid-column: 7/11;
}

.nav_bar {
    gap: 91px;
}


.footer_list {
    grid-column: 11/13;
}

.nbw {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.nav_bar-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: var(--light);
    white-space: nowrap;
}

.nav_bar-item:hover {
    color: var(--accent);
}


/* COPYRIGHT_АВТОРСКОЕ ПРАВО */
/* ----------------------------------- */

.footer_copyright {
    text-align: center;
    /* margin-top: 73px; */
}

.copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: var(--light);
}