.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
  border-bottom: 1px solid var(--gray);
  position: relative;
}

.header-contacts {
  gap: var(--gap);
}

.contact-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: var(--dark);
  text-align: right;
}

.contact {
  font-weight:400;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--accent);
  text-align: right;
}


.contact-number--mobile,
.contact-email--mobile,
.call-title--mobile {
  display: none;
}


.header-bottom {
  padding-top: 16px;
  justify-content: space-between;
}

.nav-bar {
  gap: 44px;
}

/* BURGER / БУРГЕР  */
/* ----------------------------------- */



.call {
  white-space: nowrap;
  padding-left: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--accent);
}