/* HERO */
/* ----------------------------------- */



.hero_title {
    grid-column: 6 span;
}



.hero_dscrpt {
    grid-column: 4 span;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: var(--dark);
    margin: 0;
}

/* ABOUT_О КОМПАНИИ */
/* ----------------------------------- */

.about_top {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap);
    row-gap: 24px;
    margin-bottom: 32px;
}

.about_dscript {
    grid-column: 6 span;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: var(--dark);
}

.about_bottom {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap);
}

.about_bottom-img {
    grid-column: 6 span;
}

/* PRODUCTS_ПРОДУКЦИЯ */
/* ----------------------------------- */


.card {
    display: grid;
    padding: 32px 24px;
    background: var(--light-gray);
    grid-column: 4 span;
    min-height: 435px;
    border-radius: 10px;
}

.card_img {
    width: 200px;
}

.card_text {
    grid-row: 2 block;
    justify-content: space-between;
}



.card_info {
    margin: 12px 0 0 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: var(--accent);
}

/* NEWS_НОВОСТИ */
/* ----------------------------------- */

.swiper {
    position: relative;   
}

.new_wrapper {
    display: flex;
    flex-direction: row;
}

.swiper-slide {
    width: 100%;
    background-color: var(--light-gray);
}

.news_slide {
    display: flex;
    flex-direction: column;
}

.new_slide_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
    padding: 16px 16px 25px 16px;
}

.news_title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: var(--dark);
}

.news_slide_bottom {
    display: flex;
    justify-content: space-between;
}

.news_slide_link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: var(--accent);
}

.news_slide_data {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: var(--gray);
}

.new_button {
    border-radius: 100%;
    top: 40;
    padding: 30px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.952);
}

.prev {
    left: 0.5px !important;
}

.next {
    right: 0.5px !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "" !important;
}
.swiper-button-next,
.swiper-button-prev {
    top: 190px;
}