@media (max-width: 1200px) {

    .header-contacts,
    .header-bottom {
        display: none;
    }



}

@media (max-width: 1024px) {
    .card_img {
        max-height: 200px;
    }

        .card{
            min-height: 360px;
        }
}

@media (max-width: 768px) {}

@media (max-width: 455px) {}