/* 1200px */
/* ----------------------------------- */

@media (max-width: 1200px) {

    .contact-email,
    .header-bottom,
    .contact-number {
        display: none;
    }


    burger {
        display: block;
    }
}

/* 1024px */
/* ----------------------------------- */

@media (max-width: 1024px) {

    .section_t1 {
        font-size: 48px;
        margin-bottom: var(--lg);
    }

    .hero_top {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }

    .hero_title {
        grid-column: 4 span;
    }

    .hero_dscrpt {
        grid-column: 4 span;
    }

    .card_img {
        max-height: 200px;
    }

    .card {
        min-height: 360px;
    }
}

/* 768px */
/* ----------------------------------- */

@media (max-width: 768px) {

    .section_t1 {
        font-size: 40px;
        margin-bottom: var(--lg);
    }

    .section_ofset {
        margin-top: var(--section-ofset-lg);
    }

    .hero_dscrpt {
        margin: 0 0 25px 0;
    }

    .hero_top {
        display: block;
    }

    .hero_title {
        display: block;
        width: auto;
    }
}

@media (max-width: 455px) {}